<section class="feature">
    <h2 class="title">
        Feature 1
    </h2>
    <div class="description description_left">
       Quisque ultrices dolor at felis sollicitudin lacinia. Aliquam erat volutpat. Nulla aliquet accumsan tortor, eu volutpat sapien ultricies ut. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </div>
    {{> slider sliderItem=htmlWebpackPlugin.options.firstSlider}}
</section>