<div class="top__container">
    <div class="forward">
        <a href="#" class="forward__item" title="Back">
            <svg class="svg_icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#long-arrow"></use>
            </svg>
            Back
        </a>
    </div>
</div>