<h1 class="title-main">
    TEST TASK
</h1>
<p class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dui purus, auctor vitae scelerisque ut, aliquet nec ex. Vivamus vestibulum ligula a sagittis semper.
</p>
{{> phone phone=htmlWebpackPlugin.options.topPhones}}