<h1 class="title-main">
    TEST TASK
</h1>
<p class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dui purus, auctor vitae scelerisque ut, aliquet nec ex. Vivamus vestibulum ligula a sagittis semper.
</p>
{{> phone}}
<h2 class="title">
    Bacon ipsum dolor amet shankle
</h2>
<div class="company-logo">
    <img src="/static/ProCamps.svg" alt="ProCamps">
</div>
<div class="description description_left">
    Suspendisse vitae arcu mattis, consequat nibh nec, dapibus augue. In luctus fermentum arcu, sed luctus eros elementum vel. Aenean in magna ac eros lacinia fringilla. Vestibulum et convallis eros, quis varius nisi. Suspendisse potenti. Sed magna urna, fermentum in aliquam non, fermentum sit amet neque.
</div>

{{> feature1}}
{{> feature2}}
{{> feature3}}

<section class="summary">
    <h2 class="title">
        SUMMARY
    </h2>
    <p class="description description_left">
        Donec dapibus dui non mi porttitor, vitae facilisis felis aliquam. Pellentesque nec augue nisl. Quisque mollis sit amet velit vel efficitur. Curabitur non tortor elit. Etiam consequat, neque a vehicula dignissim, eros elit elementum lectus, quis sollicitudin risus ante at arcu. Morbi vel auctor nibh. 
    </p>
    <p class="description description_left">
        Integer augue lorem, porttitor sed tellus vel, vulputate iaculis lorem. Duis mi est, suscipit vitae mollis quis, pharetra vel neque. Etiam fringilla leo augue, at scelerisque sapien congue non. Quisque et felis quis purus dictum tempor sit amet at dolor. Morbi a nibh justo. Phasellus ut ultrices sem.
    </p>
</section>

