<div class="card-holder">
    <div class="card__item card__item_phone" >
        <div class="card__picture">
            <img src="/static/mobile-01-copy-10.png"
                srcset="/static/mobile-01-copy-10@2x.png 2x,
                        /static/mobile-01-copy-10@3x.png 3x"
                class="absolute-img" alt="phone">
        </div>   
    </div>
    <div class="card__item card__item_phone">
        <div class="card__picture">
            <img src="/static/mobile-01-copy-8.png"
                srcset="/static/mobile-01-copy-8@2x.png 2x,
                        /static/mobile-01-copy-8@3x.png 3x"
                class="absolute-img" alt="phone2">
        </div>   
    </div>
    <div class="card__item card__item_phone">
        <div class="card__picture">
            <img src="/static/mobile-01-copy-9.png"
                srcset="/static/mobile-01-copy-9@2x.png 2x,
                        /static/mobile-01-copy-9@3x.png 3x"
                class="absolute-img" alt="phone2">
        </div>   
    </div>    
</div>
