<h2 class="title">
    SIMILAR PROJECTS
</h2>
<div class="swiper-container slider-big">
    <div class="swiper-wrapper">
        <a href="#" title="slide" class="swiper-slide">
            <div class="slider-big__picture">
                <img src="/static/placeholder-project-1.png"
                    srcset="/static/placeholder-project-1@2x.png 2x,
                            /static/placeholder-project-1@3x.png 3x"
                    class="" alt="project1">
            </div>
        </a>
        <a href="#" title="slide" class="swiper-slide">
            <div class="slider-big__picture">
                <img src="/static/placeholder-project-2.png"
                    srcset="/static/placeholder-project-2@2x.png 2x,
                            /static/placeholder-project-2@3x.png 3x"
                    class="" alt="project2">
            </div>
        </a>
        <a href="#" title="slide" class="swiper-slide">
            <div class="slider-big__picture">
                <img src="/static/placeholder-project-3.png"
                    srcset="/static/placeholder-project-3@2x.png 2x,
                            /static/placeholder-project-3@3x.png 3x"
                    class="" alt="project3">
            </div>
        </a>
    </div>
</div>