<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    
</head>
<body>
    {{> partials/icons}} 
        <div class="wrapper">
            {{> partials/header title=htmlWebpackPlugin.options.title}} 
            <main class="main">
                {{> partials/forward}}
                <section class="main__section">
                    <div class="container">
                        {{> partials/main-part}}
                        {{> partials/form}}
                        {{> partials/slider-big-slides}}
                        <h2 class="title-main title_high">
                            THANK YOU FOR ALL YOUR EFFORTS!
                        </h2>
                    </div>
                </section>
            </main>
           {{> partials/footer}}
        </div>
</body>
</html>